<?xml version="1.0" encoding="UTF-8"?>
<mdclass:ExternalDataProcessor xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:core="http://g5.1c.ru/v8/dt/mcore" xmlns:mdclass="http://g5.1c.ru/v8/dt/metadata/mdclass" uuid="{UUID_ROOT}">
  <producedTypes>
    <processorType typeId="{UUID_PT_ID}" valueTypeId="{UUID_PT_VT}"/>
    <processorManagerType typeId="{UUID_PM_ID}" valueTypeId="{UUID_PM_VT}"/>
  </producedTypes>
  <name>{NAME}</name>
  <synonym>
    <key>ru</key>
    <value>{NAME}</value>
  </synonym>
  <comment></comment>
  <containedObjects classId="{UUID_CO_CLASS}" objectId="{UUID_CO_OBJECT}"/>
  <defaultForm>ExternalDataProcessor.{NAME}.Form.Форма</defaultForm>
  <forms uuid="{UUID_FORM}"/>
  <help>
    <pages>
      <lang>ru</lang>
    </pages>
  </help>
</mdclass:ExternalDataProcessor>
